body {
    font-family: system-ui, sans-serif;
    font-size: 95%;
}

img {
    max-width: 100%;
}

#warper {
    margin: 20px auto;
    max-width: 1200px;
    min-width: 600px;
}

#warper .title {
    text-align: center;
}

#loadding {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #ababab;
    opacity: .5;
    top: 0;
    left: 0;
}

#loadding .loader {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.clearfix {
    overflow: auto;
}

.hidden {
    display: none;
}

.ro-titlebar {
    background-image: url("../img/interface/titlebar_mid.png");
    background-repeat: repeat-x;
    border-top: 1px solid rgb(132, 148, 206);
    border-bottom: 1px solid #777777;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-shadow: 1px 1px #fff;
    padding-left: 5px;
    font-size: 0;
    height: 15px;
    line-height: 16px;
    position: relative;
}

.ro-win-btn {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url("../img/interface/sys_base_off.png");
    background-repeat: no-repeat;
    margin: 1px 5px 1px 0px;
}

.ro-btn.ro-win-btn:hover {
    background-image: url("../img/interface/sys_base_on.png");
}

#container {
    margin: 50px auto;
    max-width: 900px;
}

.ro-titlebar p {
    display: inline-block;
    padding-right: 5px;
    margin: 0;
    font-size: 10pt;
}

.ro-win-content h1 {
    text-align: center;
    color: #3991ab;
}

.ro-win-content {
    border: 1px solid #d2d2d2;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ro-win-content .content {
    padding: 20px;
}

.ro-win-content ol p {
    margin-top: 5px;
    margin-bottom: 5px;
}
