#loadding {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #ababab;
    opacity: .5;
    top: 0;
    left: 0;
}

#loadding .loader {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.clearfix {
    overflow: auto;
}

.hidden {
    display: none;
}